@import url('https://fonts.googleapis.com/css2?family=Sarpanch:wght@500&display=swap');

html * {
    color: white;
}

.container h2 {
    font-family: 'Sarpanch';
}

.container img {
    border-radius: 100px;
}